.env
Pipeline/
videoTrack/
Generation/
9-Training/
Training_bases/
Quiz/*/
7-Conversion_322/
authoring/
8-Stats/jsons1711*
5-Merge/videosMerged/*
training_VQVAE/runs
videosPPmerged1211
training_VAE
training_SMPL/experiments
.vscode
MoMADiff_modified
training_SMPL/experiments*
training_SMPL/models/parts_rvqvae
KL_VAEstyles
Rendering/render_utils
Rendering/visus
training_SMPL/dataset/*
training_SMPL/checkpoints/
training_SMPL/body_models/*
authoring/SKEL-Betweener
authoring/MeanFlow
authoring/training_SMPL_masked/body_models
authoring/training_SMPL_masked/experiments
__pycache__/

