logs/
data/
trained_models/
pretrained_models/
assets/expression_templates_famos
assets/FLAME2020
assets/mica.tar
assets/ResNet50
assets/face_landmarker.task
assets/LRS3_lists.pkl
assets/MEAD_lists.pkl
DanceCSIFace/
datasets/
filteredVideos2605/
out_face1905/
out_face/*
out_face2605/
out_face2605(Copie)/
fer2013_model.pth

.vscode
__pycache__/